$outercolor: rgba(34, 63, 94, 0.9);
$innercolor: rgba(30, 38, 46, 0.856);
$font: "IBM Plex Sans", sans-serif;

body{
    margin: 0; 
    min-height: 100vh;
    height: 100vh;
    background-color: $outercolor;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffff

    h5{
        font-family: $font;
        font-weight: 400;
        font-size: 1em;
    }

    .main{
        background: $innercolor;
        width: 85%;
        min-height: 45vh;
        border-radius: 7px;
        box-shadow: -2px 11px 20px -8px rgba(0,0,0,0.75);
        text-align: center;
        color: #ffff;
        padding: 2em 0;

        .content{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            width: 90%;
            font-family: $font;
            font-weight: 100;
            letter-spacing: .5px;
            // font-size: 40px;
            &1{
                font-size: 20px;
                    font-family: $font;
                    margin-right: 10px;
                h2, h6{
                    font-family: $font;
                }
                h6{
                    font-weight: 400;
                    width: 70%;
                    margin: auto;
                }
            }
            &2{
                font-size: 20px;
                margin-right: 10px;
                h2, h6{
                    font-family: $font;
                }
                h6{
                    font-weight: 400;
                    width: 70%;
                    margin: auto;
                }
            }
            &3{
                font-size: 20px;
                margin-right: 10px;
                h2, h6{
                    font-family: $font;
                }
                h6{
                    font-weight: 400;
                    width: 70%;
                    margin: auto;
                }
            }
        }
    .footer{
        margin-top: 5em;
        font-family: $font;
        font-size: 13px;
        span{
            color: #3C5DD9;
        }
    }
    }

}

@media screen and (max-width: 768px) {
    .container{
        .main{
            color: #fff;
            height: 90vh;
            .content{
                flex-direction: column;
                letter-spacing: 0;
                color: #fff;
            }
        }
    }
     
    .footer{
        margin-top: 0;
        font-size: 13px;
    }
}

